@import "styles/shared";

.select {
  position: relative;

  &:hover,
  &:focus-within,
  &:global(.is-open) {
    :global(.current-button) {
      border-color: $violet-accent-color;
    }
    :global(.label-text) {
      color: $violet-accent-color;
    }
    :global(.arrow-icon) {
      fill: $violet-accent-color;
    }
  }
  &:global(.is-error) {
    :global(.current-button) {
      background-color: $error-background-color;
      border-color: $error-text-color;
    }
    :global(.label-text) {
      color: $error-text-color;
    }
    :global(.arrow-icon) {
      fill: $error-text-color;
    }
  }

  :global(.current-button) {
    width: 100%;
    padding: 3px 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    background-color: $secondary-background-color;
    border: 1px solid $light-gray-color;
    border-radius: 10px;
    transition: border-color 200ms;
    outline: none;
  }

  :global(.input-wrap) {
    position: relative;
    height: 40px;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
  }

  :global(.input) {
    width: 100%;
    padding: 0;

    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    color: $secondary-text-color;
    line-height: 1.71;

    &::placeholder {
      opacity: 0;
      transition: opacity 200ms;
      color: $placeholder-gray-color;
    }
    &:focus::placeholder {
      opacity: 1;
    }
    &:focus + :global(.label-text),
    &:not(:placeholder-shown) + :global(.label-text) {
      top: 0;
      transform: none;
      font-size: 12px;
    }
  }

  :global(.label-text) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 200ms;

    line-height: 1.33;
  }

  :global(.arrow-icon) {
    fill: $primary-text-color;
    transition: fill 200ms;
  }

  :global(.dropdown) {
    position: absolute;
    top: calc(100% + 30px);
    width: calc(100% + 20px);
    padding-right: 8px;

    border: 1px solid $light-gray-color;
    border-radius: 10px;
    background-color: $primary-white-color;
    box-shadow: 0px 10px 30px rgba(192, 196, 205, 0.3);
    overflow: hidden;
  }

  :global(.option-list) {
    max-height: 156px;
    overflow-y: scroll;
  }
}
