@import "styles/shared";

.form {
  width: 720px;
  height: 100%;
  padding-right: 11px;
  background-color: $secondary-background-color;
}

.scrollWrap {
  height: 100%;
  padding: 22px 9px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 44px;

  overflow-y: scroll;

  // Firefox
  scrollbar-color: $light-gray-color transparent;
  scrollbar-width: thin;

  // Chrome
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color: $light-gray-color;
  }
  &::-webkit-scrollbar-button {
    height: 24px;
  }
}

.topWrap {
  min-height: 400px;
}

label.inputLabel {
  @extend %small-input-label;
}

.submitGroup {
  background-color: tomato;
}
