.legalEntityGroup {
  padding: 16px 24px 24px;
}

.title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
