.label {
  padding: 4px 16px;
  display: flex;
  align-items: center;
  gap: 16px;

  background-color: #f9f9fa;
  border: 1px solid #edeff1;
  border-radius: 10px;
  cursor: text;
}

.inputWrap {
  position: relative;
  height: 40px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.input {
  width: 100%;
  padding: 0;

  border: none;
  outline: none;
  background-color: transparent;

  color: #070f18;
  line-height: 1.71;

  &::placeholder {
    opacity: 0;
    color: #b8bbc8;
    transition: opacity 200ms;
  }
  &:focus::placeholder {
    opacity: 1;
  }
  &:focus + .labelText,
  &:not(:placeholder-shown) + .labelText {
    top: 0;
    transform: none;
    font-size: 12px;
  }
}

.labelText {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 200ms;

  line-height: 1.33;
}
