@import "styles/shared";

.label {
  padding: 3px 16px;
  display: flex;
  align-items: center;
  gap: 16px;

  background-color: $secondary-background-color;
  border: 1px solid $light-gray-color;
  border-radius: 10px;
  cursor: text;
  transition: border-color 200ms;

  &:hover,
  &:focus-within {
    border-color: $violet-accent-color;

    :global(.icon) {
      fill: $violet-accent-color;
    }
    :global(.label-text) {
      color: $violet-accent-color;
    }
  }
  &:global(.is-error) {
    background-color: $error-background-color;
    border-color: $error-text-color;

    :global(.icon) {
      fill: $error-text-color;
    }
    :global(.label-text) {
      color: $error-text-color;
    }
  }

  :global(.icon) {
    fill: $primary-text-color;
    transition: fill 200ms;
  }

  :global(.input-wrap) {
    position: relative;
    height: 40px;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
  }

  :global(.input) {
    width: 100%;
    padding: 0;

    border: none;
    outline: none;
    background-color: transparent;

    color: $secondary-text-color;
    line-height: 1.71;

    &::placeholder {
      opacity: 0;
      color: $placeholder-gray-color;
      transition: opacity 200ms;
    }
    &:focus::placeholder {
      opacity: 1;
    }
    &:focus + :global(.label-text),
    &:not(:placeholder-shown) + :global(.label-text) {
      top: 0;
      transform: none;
      font-size: 12px;
    }
  }

  :global(.label-text) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 200ms;

    line-height: 1.33;
  }
}
